.app-header {
    background-color: var(--clr1);
    color: var(--clr2);

}

.app-header h1{
    margin-inline-start: 1rem;
}

.app-header .link{
    text-decoration: underline;
}

.app-header .link:hover{
    color:blue;
}

