
.task-index{
    height: 100%;
}

.task-index h4,label,button{
margin-inline-start: 2rem;
}

.task-index h1{
    text-align: center;
   margin-block-start: 0rem;
   padding-block-start: 2rem;
   font-size: 2rem;
}
