
.user-details{
    height:100%;
}

.user-details h1{
    margin: 0;

}

.update-user-form{
    background-color: lightblue;
    padding: 1rem;
    
}

.update-user-form input{
    margin-block: 0.5rem;
    
}

.update-user-form label{
    margin-inline:auto;
    
}

.update-user-form .btns{
    margin-inline:auto;

}

